html,
body {
    margin: 0;
    font-family: arial, sans-serif;
    min-width: 900px;
    line-height: 14px;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0066c0;
}

a:hover {
    color: #c45500;
}

#banner {
    background: #F6F6F6 url('../img/banner.jpg') no-repeat top left;
    height: 55px;
    background-size: 1920px;
    min-width: 1000px;
    display: block;
}

header {
    background-color: #232f3e;
    height: 99px;
}

.nav-left {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
}

.nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
}

.nav-fill {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

#nav-logo {
    padding: 11px 18px 0 24px;
    position: relative;
    width: 192px;
}

#nav-logo .nav-logo-link {
    background: transparent url('../img/logo.png') no-repeat top left;
    background-size: 102px;
    width: 192px;
    height: 32px;
    display: block;
}

#nav-logo .nav-logo-tagline {
    color: #48a3c6;
    position: absolute;
    top: 31px;
    left: 93px;
    font-size: 11px;
    line-height: 11px;
    font-family: arial, sans-serif;
    font-weight: 700;
}

#nav-logo .nav-logo-tagline:hover {
    color: #ffffff;
}

#nav-search {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 11px;
    padding-right: 25px;
}

#nav-search input {
    width: 100%;
}

#nav-search .nav-left {
    height: 35px;
    background-color: #f3f3f3;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cdcdcd;
    overflow: hidden;
}

#nav-search .nav-left:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
}

#nav-search .nav-search-label {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 33px;
    ;
    margin-right: 21px;
    margin-left: 10px;
}

#nav-search .nav-left i {
    position: absolute;
    top: 10px;
    right: 9px;
    color: #a0a0a0;
    font-size: 11px;
}

#nav-search select {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    height: 35px;
    display: block;
    outline: none;
    cursor: pointer;
}

#nav-search .nav-fill {
    height: 35px;
    overflow: hidden;
}

#nav-search .nav-fill input {
    border: none;
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    color: #111;
    outline: none;
}

#nav-search .nav-right {
    background-color: #febd69;
    width: 45px;
    height: 35px;
    border-radius: 0 4px 4px 0;
}

#nav-search .nav-right:hover {
    background-color: #f3a847;
}

#nav-search .nav-right i {
    position: absolute;
    top: 5px;
    right: 13px;
    color: #333;
    font-size: 22px;
    opacity: 0.9;
}

#nav-search .nav-right input {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    text-indent: -1000px;
}

#nav-main ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 18px 0 0 0;
}

#nav-main li {
    display: inline-block;
    padding: 10px 9px 0 0;
}

#nav-main a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

#nav-main .nav-a {
    padding: 7px 10px;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
}

#nav-main .nav-a:hover {
    border: 1px solid #4f5965;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5);
}

#nav-main .nav-a span {
    display: block;
    margin-left: -2px;
    font-weight: 300;
    color: #ccc;
    font-size: 12px;
}

@media (min-width: 1200px) {
    .container {
        width: 1560px;
    }
}

#promo .col-lg-12 {
    padding: 0 22px 10px 0px;
}

#promo .carousel {
    margin-top: -2px;
}

.col-lg-3 {
    padding: 0 7px;
}

.text-center {
    text-align: center;
}

h2 {
    color: #111;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 15px;
}

h3 {
    color: #111;
    font-size: 28px;
    font-weight: 500;
}

footer a {
    color: #fff;
}

footer .center {
    margin-top: 150px;
    max-width: 1080px;
}

footer ul {
    margin: 30px 40px 30px 0;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

footer ul.copy {
    display: inline-block;
    width: 100%;
}

footer ul.copy li {
    display: inline-block;
    margin-right: 20px;
    color: #999;
    font-size: 11px;
}

footer .middle .copy {
    border-top: 1px solid #3a4553;
    padding: 30px 20px 20px 20px;
}

footer .middle .copy a {
    padding: 10px 30px 10px 10px;
    color: #ccc;
    border: 1px solid #848688;
    border-radius: 3px;
}

footer .middle .copy a:hover {
    text-decoration: none;
    border-color: #8D9096;
}

footer .bottom {
    background: #131a22;
}

footer .bottom ul {
    margin-right: 0;
}

footer .bottom li {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: 221px;
}